<?xml version="1.0" encoding="UTF-8"?>
<TestSettings
  id="05e47eee-4a94-4253-a073-41a93893bf92"
  name="runner"
  enableDefaultDataCollectors="false"
  xmlns="http://microsoft.com/schemas/VisualStudio/TeamTest/2010">
  <Description><!--_locID_text="Description1"-->These are default test settings for a local test run.</Description>
  <Deployment enabled="true" />
</TestSettings>
